<!doctype html xmlns:fb="http://www.facebook.com/2008/fbml">
	<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
	<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
	<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">


  <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
	

</head>
<body>
    <!-- inside a twig template -->
		{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

<div id="container">
	<div id="page">
		<div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    {% for key, message in app.session.getFlashes() %}
    <div class="{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
		
	</div>
 	<div id="central">
	</div>
	<div id="footer">
	  <ul>
		<li>
			<img src="/images/icons/twitter.png" />
			<p>
				Siguenos en nuestra cuenta de twitter <a href="#">@quorra</a>
			</p>
		</li>
		<li>
			<img src="/images/icons/help.png" />
			<p>
				For help & support head to
				our <a href="#">GetSatisfaction</a> page.
			</p>
		</li>
		<li>
			<img src="/images/icons/copy.png" />
			<p>
				Copyright 2010 My 
				Company, LLC.
			</p>
		</li>
	  <ul>
	</div>
</div>
<script>
  function goLogIn(){
      window.location = "{{ path('_security_check') }}";
  }

  function onFbInit() {
      if (typeof(FB) != 'undefined' && FB != null ) {
          FB.Event.subscribe('auth.statusChange', function(response) {
              setTimeout(goLogIn, 500);
          });
      }
  }
</script>
</body>
</html>
